.img-header {
  width: 20%;
  padding: 20px;
}

.header {
  background-color: #ef5350;
  border-radius: 10px;
}

.header-detail {
  background-color: #ef5350;
  border-radius: 10px;
  padding: 25px;
  color: white;
}

.width-pagination {
  width: -webkit-fill-available;
}

.img-pokemon {
  align-self: center;
  width: 60% !important;
}

.img-detail {
  align-self: center;
  width: 100% !important;
}

.jb-color {
  background-color: white;
}
