<div>
  <h2 id="page-heading" class="mb-5 header-detail">
    <button class="btn btn-dark" routerLink="/"> ← </button>
      {{pokemon.name | uppercase}}
  </h2>

  <div class="jumbotron jb-color">
    <div class="row justify-content-center">
      <div class="col-3">
        <img class="card-img-top img-detail" [src]="pokemon.sprites.front_default" alt="Card image cap">
      </div>
      <div class="col-3">
        <h2>Information</h2>
        <p class="card-text">Weight: <b>{{pokemon.height}} hectograms</b></p>
        <p class="card-text">Types:
          <span *ngFor="let type of pokemon.types">
              <span style="cursor: default" class="badge badge-pill badge-dark mr-1">{{type.type.name | uppercase}}</span>
            </span>
        </p>
        <p class="card-text">Abilities:
          <span *ngFor="let av of pokemon.abilities">
              <span style="cursor: default" class="badge badge-pill badge-info mr-1">{{av.ability.name}}</span>
            </span>
        </p>

        <h2 class="mt-5">Evolution</h2>
        <p class="card-text">Evolves to: <a>{{pokemon.evolutionChain.chain.evolves_to[0].species.name | titlecase}}</a></p>
      </div>
    </div>
  </div>
</div>
