<div>
  <h2 id="page-heading" class="mb-5 header">
    <span>
      <img class="img-header" src="assets/pokedex-logo.png" alt="Card image cap">
    </span>
  </h2>

  <div class="row" *ngIf="pokemons">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let pokemon of pokemons; index as i">
      <div class="card">
        <img class="card-img-top img-pokemon" [src]="pokemon.sprites.front_default" alt="Card image cap"
             [routerLink]="['/pokemon/' + pokemon.id]">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name | titlecase}}</h5>
          <p class="card-text">Weight: <b>{{pokemon.height}} hectograms</b></p>
          <p class="card-text">Types:
            <span *ngFor="let type of pokemon.types">
              <span style="cursor: default" class="badge badge-pill badge-dark mr-1">{{type.type.name | uppercase}}</span>
            </span>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Abilities
            <span *ngFor="let av of pokemon.abilities">
              <span style="cursor: default" class="badge badge-pill badge-info mr-1">{{av.ability.name | uppercase}}</span>
            </span>
          </small>
        </div>
      </div>
    </div>

    <div class="width-pagination">
      <app-pagination [hidden]="!pokemons.length" [page]="page" [pages]="pages"
                      (pushPages)="loadAll($event)"></app-pagination>
    </div>
  </div>
</div>
